{
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "google",
        "plugin:import/errors",
        "plugin:import/warnings"
    ],
    "env": {
        "browser": true,
        "jest": true,
        "node": true,
        "es6": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "globals": {
        "expect": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".ts"
                ]
            }
        }
    },
    "rules": {
        "no-console": "off",
        "require-jsdoc": 0,
        "indent": [
            2,
            "tab"
        ],
        "no-tabs": 0,
        "max-len": [
            "error",
            {
                "code": 130,
                "ignoreComments": true
            }
		],
		"camelcase": 0,
		"@typescript-eslint/camelcase": 0,
		"import/no-unresolved": "warn",
		"no-invalid-this": 0,
		"@typescript-eslint/explicit-function-return-type": 0,
        "no-multi-assign": 0,
        "no-warning-comments": 0,
        "object-curly-spacing": [
            "error",
            "always",
            {
                "objectsInObjects": false
            }
        ],
        "array-bracket-spacing": [
            "error",
            "always"
        ]
    }
}
